.works-tab {
  position: relative;

  &::before {
    content: "";
    display: block;
    height: 2px;
    background: $black;
    position: absolute;
    top: 35px;
    width: 100vw;
    left: -85px;
    z-index: -1;

    @include mq-medium {
      left: -30px;
    }

    @include mq-small {
      left: -20px;
    }
  }

  > .list {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 100px;
    width: 790px;

    @include mq-medium {
      width: 520px;
    }

    @include mq-small {
      margin-bottom: 60px;
      width: 100%;
    }
  }

  > .list > .tab {
    align-items: center;
    background: $white;
    border: 2px solid $black;
    cursor: pointer;
    display: flex;
    font-size: 1.8rem;
    font-weight: 700;
    justify-content: center;
    transition: background .3s;
    height: 50px;
    width: 186px;

    @include mq-medium {
      width: 160px;
      height: 44px;
    }

    @include mq-small {
      font-size: 1.4rem;
      text-align: center;
      height: 40px;
      margin: 0 6px;
    }
    
    @include mq-large {
      &:hover {
        background: #ffdde3;
      }
    }

    &.-selected {
      background: $pink;
      color: $white;
    }
  }

  > .panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}