.works-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  // &::before,
  &::after {
    content: "";
    width: 287px;
    margin: 0 10px 40px;
  }

  > .item {
    width: 287px;
    margin: 0 10px 40px;
  }
}