.works-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  // &::before,
  &::after {
    content: "";
    width: 287px;
    margin: 0 10px 40px;
  }

  > .item {
    width: 23%;
    margin: 0 10px 40px;

    @media (max-width: 1400px) {
      width: 30%;
    }

    @include mq-medium {
      margin: 0 0 40px;
      width: 47%;
    }
  
    @include mq-small {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}