.skill-list {
  display: flex;
  justify-content: space-between;

  > .item {
    align-items: center;
    display: flex;
    flex-direction: column;
     width: 180px;
  }

  > .item > .figure {
    align-items: center;
    display: flex;
    height: 140px;
    margin-bottom: 30px;
  }

  > .item > .figure > .image {
    width: 130px;
  }

  > .item > .skill {
    font-size: 1.8rem;
    line-height: 1.4;
    text-align: center;
  }
}