.skill-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include mq-small {
    justify-content: space-around;
  }

  > .item {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 10px 40px;
    min-width: 180px;
    width: 180px;

    @include mq-small {
      // margin: 0 0 30px;
      width: 80%;
    }
  }

  > .item > .figure {
    align-items: center;
    display: flex;
    height: 140px;
    margin-bottom: 30px;

    @include mq-small {
      height: 100px;
      margin-bottom: 30px;
    }
  }

  > .item > .figure > .image {
    width: 130px;

    @include mq-small {
      width: 110px;
    }
  }

  > .item > .skill {
    font-size: 1.8rem;
    line-height: 1.4;
    text-align: center;

    @include mq-small {
      font-size: 1.6rem;
    }
  }
}