.bottom-nav {
  align-items: center;
  background: $white;
  top: calc(100vh - 44px);
  box-shadow: 0 -2px 6px rgba($black, .1);
  box-sizing: border-box;
  display: none;
  height: 44px;
  justify-content: space-between;
  padding: 0 40px;
  position: fixed;
  width: 100vw;
  z-index: 10;

  @include mq-small {
    display: flex;
  }

  > .link {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 80px;

    &[data-active=false] {
      pointer-events: none;
    }
  }

  > .link > .img {
    margin-bottom: 2px;
    height: 26px;
    // opacity: .5;
  }

  > .link > .text {
    font-size: .8rem;
  }
}