.global-header {
  align-items: center;
  background-color: rgba($white, .9);
  box-shadow: 0 2px 8px rgba($black, .3);
  box-sizing: border-box;
  display: flex;
  height: 56px;
  justify-content: space-between;
  padding: 0 40px;
  position: fixed;
  transition: .25s ease-out;
  width: 100%;
  z-index: 1;

  @include mq-small {
    display: none;
  }

  > .left .logo {
    width: 40px;
  }
}

.global-header-list {
  display: flex;
  height: 56px;
  justify-content: space-between;
  width: 322px;

  > .item {
    height: 100%;
    position: relative;

    &::after {
      background: $pink;
      border-radius: 100%;
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      transition: height .3s, border-radius .3s;
    }

    &[data-active=true] {
      &::after {
        border-radius: 0;
        height: 2px;
      }
    }

    &[data-active=false] {
      > .link {
        pointer-events: none;
      }
    }
  }

  > .item > .link {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    padding: 18px;
    position: relative;
  }
}