.grobal-header {
  align-items: center;
  background-color: rgba($white, .9);
  box-shadow: 0 2px 8px rgba($black, .3);
  box-sizing: border-box;
  display: flex;
  height: 56px;
  justify-content: space-between;
  padding: 0 40px;
  position: fixed;
  transition: .25s ease-out;
  width: 100%;
  z-index: 1;

  @include mq-small {
    display: none;
  }

  > .left .logo {
    width: 40px;
  }
}

.grobal-header-list {
  display: flex;
  height: 56px;
  justify-content: space-between;
  width: 472px;

  > .item {
    height: 100%;
    position: relative;

    &::after {
      background: $pink;
      content: "";
      display: block;
      width: 10px;
      height: 2px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }

  > .item > .link {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    padding: 18px;
  }
}