.grobal-heading {
  display: inline-block;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 54px;
  padding-left: 30px;
  position: relative;

  @include mq-small {
    font-size: 2.4rem;
    padding-left: 20px;
    margin-bottom: 30px;
  }

  &[data-type="sub"] {
    font-size: 1.8rem;
    margin-bottom: 12px;
    padding-left: 28px;

    @include mq-small {
      padding-left: 20px;
    }
  }

  &::after {
    background: $pink;
    content: "";
    display: block;
    width: 18px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    @include mq-small {
      width: 14px;
    }
  }
}