.underline-heading {
  border-bottom: 4px solid $pink;
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 30px;
  padding: 0 1px 4px;
  align-self: center;

  @include mq-small {
    margin-bottom: 10px;
  }
}