.headernav-list {
  display: flex;
  justify-content: space-between;
  max-width: 388px;
  padding-right: 30px;

  // > .item {

  // }

  > .item > .link {
    color: $white;
    font-size: 2rem;
    font-weight: 700;
  }
}