.hero-message {
  margin: 0 0 30px 100px;
  font-weight: 700;

  @include mq-medium {
    margin-left: 60px;
  }

  @include mq-small {
    margin-bottom: 0;
    margin-left: 20px;
  }

  > .greeting {
    font-size: 4rem;

    @include mq-medium {
      font-size: 4rem;
    }

    @include mq-small {
      font-size: 3rem;
    }

    > .span {
      color: $pink;
    }
  }

  > .name {
    color: $pink;
    display: inline;
    font-size: 10rem;
    line-height: 1.2;
    margin-left: -6px;

    @include mq-medium {
      font-size: 8rem;
    }

    @include mq-small {
      font-size: 6rem;
    }
  }

  > .job {
    font-size: 5rem;

    @include mq-medium {
      font-size: 4rem;
    }

    @include mq-small {
      font-size: 3rem;
    }
  }
}