.hero-face {
  left: 40%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 240px;
  animation: 
    float 2s ease-in-out infinite alternate,
    tilt 10s ease-out infinite;

  @include mq-medium {
    width: 180px;
  }

  .eyeBrow {
    transition: transform .5s cubic-bezier(.16,.92,.43,1);
  }
}

@keyframes float {
  from {
    top: 51%;
  }

  to {
    top: 49%;
  }
}

@keyframes tilt {
  0% {
    transform: translate(-50%, -50%);
  }

  2% {
    transform: translate(-50%, -50%) rotate(10deg);
  }

  20% {
    transform: translate(-50%, -50%) rotate(10deg);
  }
  
  22% {
    transform: translate(-50%, -50%);
  }
}