.hero-message {
  margin: 0 0 30px 100px;
  font-weight: 700;

  > .greeting {
    font-size: 4rem;

    > .span {
      color: $pink;
    }
  }

  > .name {
    color: $pink;
    display: inline;
    font-size: 10rem;
    line-height: 1.2;
    margin-left: -6px;
  }

  > .job {
    font-size: 5rem;
  }
}