.index-main {
  padding: 140px 85px 80px;
  transition: all .3s cubic-bezier(.14,.44,.5,.96);
  transform-origin: center top;

  @include mq-medium {
    padding: 140px 30px;
  }

  @include mq-small {
    padding: 20px;
  }
}