.index-about {
  display: flex;
  margin-bottom: 140px;

  > .logo {
    min-height: 310px;
    height: 310px;
    width: 300px;
  }

  > .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 117px;
  }

  > .right > .text {
    font-size: 2.4rem;
    line-height: 1.4;
    padding-top: 60px;
    max-width: 691px;
    margin-bottom: 30px;
  }
}