.index-about {
  display: flex;
  margin-bottom: 140px;

  @include mq-medium {
    flex-direction: column;
  }

  > .logo {
    height: 310px;
    width: 300px;
    flex: 1;

    @include mq-small {
      width: 100%;
    }
  }

  > .right {
    display: flex;
    flex: 1.61;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 117px;

    @include mq-medium {
      margin-left: 0;
    }

    @include mq-small {
      align-items: center;
    }
  }

  > .right > .text {
    font-size: 2rem;
    line-height: 1.4;
    padding-top: 60px;
    max-width: 691px;
    margin-bottom: 30px;

    @include mq-small {
      font-size: 1.6rem;
    }
  }
}