.scroll-circle {
  border-radius: 100%;
  box-sizing: border-box;
  border: 6px solid rgb(216, 216, 216);
  position: absolute;
  bottom: -180px;
  width: 284px;
  height: 284px;
  transition: .3s;
  left: 50%;
  transform: translateX(-50%);

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 6px solid $pink;
    border-right: 6px solid $pink;
    transform: rotate(45deg) translateX(-50%);
    left: 50%;
    top: 20px;
  }

  > .progress {
    border-radius: 100%;
    box-sizing: border-box;
    clip: rect(104px 300px 300px 0);
    position: absolute;
    width: 284px;
    height: 284px;
    border: 6px solid $pink;
    transition: 
      transform .5s,
      background-color .3s .5s;
    top: -6px;
    left: -6px;
  }

  > .text {
    font-size: 1.8rem;
    font-weight: 700;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
  }
}