.workshow-info {
  position: sticky;
  top: 80px;

  > .name {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 50px;

    @include mq-small {
      font-size: 2.2rem;
      margin-bottom: 30px;
    }
  }

  > .section {
    margin-bottom: 40px;

    > .text {
      font-size: 1.8rem;

      @include mq-small {
        font-size: 1.6rem;
      }
    }
  }

  > .date {
    font-size: 1.6rem;

    @include mq-small {
      font-size: 1.4rem;
    }
  }
}