.grobal-wrapper {
  overflow: hidden;
  // font-family: 'Skranji', "Yasashisa";
  // color: $black;
  // background-color: #fffcf7;
}

body,html {
  font-size: 62.5%;
  font-family: museo-sans, sans-serif;
}